/* Main view */
.flexContainer-main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  max-height: 100%;
}

#item-1 {
  max-width: 20vw;
  min-width: 280px;
  border-color: dodgerblue;
  border-width: thin;
  border-style: solid;
  border-radius: 0.6rem;
  height: fit-content;
  margin-top: 5rem;
}

#item-2 {
  max-width: 25vw;
  min-width: 280px;
  justify-self: center;
}

#item-3 {
  max-width: 25vw;
  min-width: 280px;
  justify-self: center;
  border-color: dodgerblue;
  border-width: thin;
  border-style: solid;
  border-radius: 0.6rem;
  height: fit-content;
  margin-top: 5rem;
}

/* color hitory and userchats */
.table-border-color {
  border-color: dodgerblue;
  border-width: thin;
  border-style: solid;
  margin-top: 1.5rem;
}

/* History Container */
#uncontrolled-tab-history {
  background-color: rgb(53, 53, 53);
  color: lightgray;
  font-size: 1.5rem;
  font-weight: bold;
}

#uncontrolled-tab-history:hover {
  border-color: dodgerblue;
}

#uncontrolled-tab-history[aria-selected = true] {
  border-color: dodgerblue;
}

#uncontrolled-tab-userchats {
  background-color: rgb(53, 53, 53);
  color: lightgray;
  font-size: 1.5rem;
  font-weight: bold;
}

#uncontrolled-tab-userchats:hover {
  border-color: dodgerblue;
}

#uncontrolled-tab-userchats[aria-selected = true] {
  border-color: dodgerblue;
}

/* Edit-Container */
.container-fluid {
  border-width: thick;
  border-style: groove;
  border-color: #999999;
  border-radius: 0.6rem;
  background-color: rgb(53, 53, 53);
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  width: 100%;
}


/* Farbe der Reiter der Navigation */
#uncontrolled-tab-sitemap {
  background-color: rgb(53, 53, 53);
  color: lightgray;
  font-size: 1.5rem;
  font-weight: bold;
}

#uncontrolled-tab-sitemap:hover {
  border-color: dodgerblue;
}

#uncontrolled-tab-sitemap[aria-selected = true] {
  border-color: dodgerblue;
}

#uncontrolled-tab-login {
  background-color: rgb(53, 53, 53);
  color: lightgray;
  font-size: 1.5rem;
  font-weight: bold;
}

#uncontrolled-tab-login:hover {
  border-color: dodgerblue;
}

#uncontrolled-tab-login[aria-selected = true] {
  border-color: dodgerblue;
}

#uncontrolled-tab-about {
  background-color: rgb(53, 53, 53);
  color: lightgray;
  font-size: 1.5rem;
  font-weight: bold;
}

#uncontrolled-tab-about:hover {
  border-color: dodgerblue;
}

#uncontrolled-tab-about[aria-selected = true] {
  border-color: dodgerblue;
}

/* Tablet und Mobile */
#uncontrolled-tab-chat {
  background-color: rgb(53, 53, 53);
  color: lightgray;
  font-size: 1.5rem;
  font-weight: bold;
}

#uncontrolled-tab-chat:hover {
  border-color: dodgerblue;
}

#uncontrolled-tab-chat[aria-selected = true] {
  border-color: dodgerblue;
}

/* Mobile */

#uncontrolled-tab-publish {
  background-color: rgb(53, 53, 53);
  color: lightgray;
  font-size: 1.5rem;
  font-weight: bold;
}

#uncontrolled-tab-publish:hover {
  border-color: dodgerblue;
}

#uncontrolled-tab-publish[aria-selected = true] {
  border-color: dodgerblue;
}

#uncontrolled-tab-drafts {
  background-color: rgb(53, 53, 53);
  color: lightgray;
  font-size: 1.5rem;
  font-weight: bold;
}

#uncontrolled-tab-drafts:hover {
  border-color: dodgerblue;
}

#uncontrolled-tab-drafts[aria-selected = true] {
  border-color: dodgerblue;
}
