/* Main view */
.flexContainer-main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  max-height: 100%;
}

#item-1 {
  max-width: 20vw;
  min-width: 280px;
}

#item-2 {
  max-width: 25vw;
  min-width: 280px;
  justify-self: center;
}

#item-3 {
  max-width: 25vw;
  min-width: 280px;
  justify-self: center;
}

/* History Container */
#uncontrolled-tab-history {
  background-color: rgb(53, 53, 53);
  color: lightgray;
  font-size: 1.5rem;
  font-weight: bold;
}

#uncontrolled-tab-history:hover {
  background: midnightblue;
}

#uncontrolled-tab-userchats {
  background-color: rgb(53, 53, 53);
  color: lightgray;
  font-size: 1.5rem;
  font-weight: bold;
}

#uncontrolled-tab-userchats:hover {
  background: midnightblue;
}

/* Edit-Container */
.container-fluid {
  border-width: thick;
  border-style: groove;
  border-color: #999999;
  border-radius: 0.6rem;
  background-color: rgb(53, 53, 53);
  margin: 5rem 0.5rem 0rem 0rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  width: 100%;
}


/* Farbe der Reiter der Navigation */
#uncontrolled-tab-sitemap {
  background-color: rgb(53, 53, 53);
  color: lightgray;
  font-size: 1.5rem;
  font-weight: bold;
}

#uncontrolled-tab-sitemap:hover {
  background: midnightblue;
}

#uncontrolled-tab-login {
  background-color: rgb(53, 53, 53);
  color: lightgray;
  font-size: 1.5rem;
  font-weight: bold;
}

#uncontrolled-tab-login:hover {
  background: midnightblue;
}

#uncontrolled-tab-about {
  background-color: rgb(53, 53, 53);
  color: lightgray;
  font-size: 1.5rem;
  font-weight: bold;
}

#uncontrolled-tab-about:hover {
  background: midnightblue;
}

/* Tablet und Mobile */
#uncontrolled-tab-chat {
  background-color: rgb(53, 53, 53);
  color: lightgray;
  font-size: 1.5rem;
  font-weight: bold;
}

#uncontrolled-tab-chat:hover {
  background: midnightblue;
}

/* Mobile */

#uncontrolled-tab-publish {
  background-color: rgb(53, 53, 53);
  color: lightgray;
  font-size: 1.5rem;
  font-weight: bold;
}

#uncontrolled-tab-drafts {
  background-color: rgb(53, 53, 53);
  color: lightgray;
  font-size: 1.5rem;
  font-weight: bold;
}
