/* responsive */
#responsive-container-tablet {
    border-width: thick;
    border-style: groove;
    border-color: #999999;
    border-radius: 0.6rem;
    background-color: rgb(53, 53, 53);
    max-width: 50rem;
    margin-top: 0rem;
  }

#responsive-container-mobile {
  border-width: thick;
  border-style: groove;
  border-color: #999999;
  border-radius: 0.6rem;
  background-color: rgb(53, 53, 53);
  height: fit-content;
  width: 100%;
  max-width: 50rem;
}

.responsive-border-mobile {
  border-color: dodgerblue;
  border-width: thin;
  border-style: solid;
  border-radius: 0.6rem;
  width: 100vw;
  max-width: 50rem;
}

#responsive-border-tablet-left {
  border-color: dodgerblue;
  border-width: thin;
  border-style: solid;
  border-radius: 0.6rem;
  height: fit-content;
  width: 100%;
  max-width: 50rem;
  margin-right: 0.5rem;
}

#responsive-border-tablet-right {
  border-color: dodgerblue;
  border-width: thin;
  border-style: solid;
  border-radius: 0.6rem;
  height: fit-content;
  width: 100%;
  max-width: 50rem;
  margin-left: 0.5rem;
}
  
/* Tabletchatbox */
#flexTablet {
  margin-top: 0rem;
  display: flex;
  justify-content: center;
  max-height: 100%;
}

/* MobileChatbox */
#flexMobile {
  display: grid;
  justify-content: center;
}

/* color hitory and userchats */
.table-border-color-mobile {
  border-color: dodgerblue;
  border-width: thin;
  border-style: solid;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* MobileChatbox */
#dropdown { 
  color: black;
  background-color: darkgray;
  border: none;
  position: relative;
  float: inline-end;
}

/* MobileStart */
.menu { 
  text-decoration: underline;
  color: dodgerblue;
  cursor: pointer;
}

.menu-inside {
  color: dodgerblue;
  cursor: pointer;
}

.menu-inside:hover {
  text-decoration: underline;
}

#start-panel {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.start-para-details {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.5rem;
}

.mobile-notlogged {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  text-align: center;
}

/*mobile menu */

.menu-panel {
  display: grid;
  grid-template-columns: 14rem 1fr;
}


.menu-link {
  margin-left: 1rem;
  font-size: 1.2rem;
  font-style: italic;
  cursor: pointer;
}

.menu-details {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

#menu-advice {
  font-size: 1.2rem;
}
