/* Tabletchatbox */
#flexTablet {
  margin-top: 0rem;
  display: flex;
  justify-content: center;
  max-height: 100%;
}

#tablet-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* MobileChatbox */
#flexMobile {
  display: grid;
  justify-content: center;
}

#menu-advice {
  font-size: 1.2rem;
  text-align: right;
  margin-right: 2rem;
  margin-top: 0.5rem;
}
