#start-panel-chat {
    margin-top: 1.5rem;
}

.start-para {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
.start-para-tablet {
  margin-left: 1rem;
  margin-right: 1rem;
  color: dodgerblue;
}