#start-panel-chat {
    margin-top: 1.5rem;
}

.start-para {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
.start-para-tablet {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.8rem;
  color: silver;
}

.start-para-desktop {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.8rem;
  color: silver;
  text-decoration: underline;
}

.start-para-inline {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1.6rem;
  color: silver;
}
