.panel {
  border-color: dodgerblue;
  border-width: thin;
  border-style: solid;
  margin-bottom: 1.5rem;
}

.panel-title {
  border-color: dodgerblue;
  border-bottom-width: thin;
  border-bottom-style: solid;
  padding: 0.5rem;
  color: darkgray;
}

