#start {
    margin-top: 1.5rem
}

Form {
    margin-left: 2.5rem;
    width: 80%
}

#startname {
    margin-top: 1.5rem;
}

#start-name {
    margin-right: 2.5rem;
}
#start-input {
    max-width: 15rem
}

#addname {
    font-size: 1.2rem;
    text-align: right;
    font-style: italic;
}

.info {
    font-size: 1.2rem;
}

.info-link {
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-left: 1rem;
    text-decoration: underline;
}

.info-details {
    margin-left: 1rem;
}
