.table-drafts {
    border-collapse: collapse;
    background-color: rgb(53, 53, 53);
    margin-top: 1.5rem;
    border-style: none;
    margin-bottom: 1rem;
  }
  
  .data-rows-drafts {
    display: grid;
    grid-template-columns: 20rem 1fr 10rem ;
  }

  .drafts-column-1 {
    padding-left: 1.5rem;
    text-align: left;
  }

  .drafts-column-1:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .drafts-column-2 {
    font-size: 1.2rem;
    text-align: right;
  }
  
  .drafts-column-2:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .link-download-draft {
    font-size: 1.2rem;
    color: white
  }

  .link-download-draft:hover {
    font-size: 1.2rem;
    color: white
  }

  .drafts-column-3 {
    font-size: 1.2rem;
    text-align: center;
  }
  
  .drafts-column-3:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .draft {
    margin: 1rem;
  }

  #draft {
    border-radius: 0.5rem;
    background-color: silver;
    font-size: 1.2rem;
    font-weight: bold;
  }
  

  .flexContainer-draftlist {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  margin: 1rem;
  text-align: center;
}

#spinner-draft {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
