.chatbox {
  height: 70vh;
  border-width: thick;
  border-style: groove;
  border-color: #999999;
  background: rgb(53, 53, 53);
  overflow: auto;
  border-radius: 0.6rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

#chat-border-color {
  border-color: dodgerblue;
  border-width: thin;
  border-style: solid;
  border-radius: 0.6rem;
  height: fit-content;
  margin-top: 1rem;
  width: 100%
}

/* component Textarea */
.textarea-chat {
  height: 10rem;
  width: 90%;
  background-color: lightgray;
  margin-left: 1rem;
}

#writer {
  margin-left: 1rem;
}

.chatmessages {
  top: 0;
}

.flexContainer-chat {
  display: grid;
  grid-template-columns: 1fr 8rem;
  margin-bottom: 1rem;
}

#link-back {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#link-back-chat {
  margin: 1rem;
}

#link-back-chat:hover {
  text-decoration: underline;
  cursor: pointer;
}

#link-clear {
  margin: 1rem;
  text-align: right;
}

#link-clear:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button-chat-Phil {
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-left: 1rem;
  background-color: silver;
}

.transition-message-enter {
  opacity: 0;
}
.transition-message-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.transition-message-exit {
  opacity: 1;
}
.transition-message-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.listgroup-message {
  background-color: transparent;
  border: none;
}
