#popover-basic {
    border-style: solid;
    border-color: dodgerblue;
    border-radius: 1rem;
}


#popover-title {
    color:white;
    background-color:  rgb(53, 53, 53);
    font-size: 1.2rem;
    border-color: dodgerblue;
    font-weight: bold;
    border-radius: 1rem 1rem 0rem 0rem;
}

#popover-content {
    color: white;
    background-color:  rgb(53, 53, 53);
    font-size: 1.2rem;
    border-radius: 0rem 0rem 1rem 1rem;
}
